@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #cfcfcf;
    --secondary: #000;
    --titles: #489FB5;
    --titlesaction: #3e8799;
    --highlight: #EDE7E3;
    --highlightaction: #FFA62B;
    --font-family: 'Raleway', sans-serif;
  }
  
  [data-theme='dark'] {
    --primary: #202020;
    --secondary: #cfcfcf;
    --titles: #38798a;
    --titlesaction: #69b9c9;
    --highlight: #EDE7E3;
    --highlightaction: #FFA62B;
    --font-family: 'Raleway', sans-serif;
  }
  body{
    margin: 0px;
    padding: 0px;
  }
    button{
      padding: 10px;
      font-family: var(--font-family);
      border: 2px solid var(--titles);
      background-color: var(--primary);
      color: var(--titles);
    }
    button:hover{
      border: 2px solid var(--highlightaction);
      background-color: var(--primary);

    }
