.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card-edit {
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--primary-contrast);
    border-radius: 0.5rem;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}



.card-container{

    box-sizing: border-box;
    padding: 2rem;
    width: 100vw;
}
.card-button button{

    margin: 1rem;
}

