.users{
    margin: 2rem;
    background-color: var(--primary);
    color: var(--secondary);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body{
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--font-family);

}

dialog{
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--titles);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    width: 30rem;
   
}

.attribute{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--secondary);
    
}

select{
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1.2rem;
    border-color: var(--titles);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    color: var(--secondary);
}


.buttons{
    display: flex;
    justify-content: space-around;
}


.menu select{
    margin-right: 1rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.menu div{
    display: flex;
}

.flexboxultramaxpro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

