.body{
    margin: 2rem;
    background-color: var(--primary);
    color: var(--secondary);
}
body{
    background-color: var(--primary);
    color: var(--secondary);
}

dialog{
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--titles);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    width: 30rem;
   
}

.attribute{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--secondary);
    
}

select{
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1.2rem;
    border-color: var(--titles);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    color: var(--secondary);
}


.buttons{
    display: flex;
    justify-content: space-around;
}

.menu button{
    margin-right: 1rem;
}

.menu select{
    margin-right: 1rem;
}

form{
    width: auto;
    height: 20rem;
    font-family: var(--font-family);
    background-color: var(--primary);
    border-color: var(--titles);
    border-width: 0.15rem;
    border-radius: 0.5rem;
    width: 30rem;
    
}