.davinci{
  color: var(--titles);
}
.autoren{
  color: var(--secondary);
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.titles{
  text-align: center;
}