
.navBar{

    background-color: var(--primary);
    height: 10vh;
    display: flex;
    padding-inline: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--titles);
    box-sizing: border-box;
}
.navList{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}
.navList li{

    margin: 0px 1rem; 
}
.navList a{
    padding: 10px;
    border-radius: 30%;
    border: 2px solid var(--primary);
    font-family: var(--font-family);
    font-size: 2rem;
    text-decoration: none;
    color: var(--titles);
}
.navList a:hover{
    border: 2px solid var(--highlightaction);
    color: var(--titlesaction);
}
.logo img{

    margin-right: 10px;
}
.logo{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.points{

    font-size: 2rem;
    font-weight: 520;
    color: var(--titles);
    font-family: var(--font-family);
}

.userIcon{

    border-radius: 50%;
}
