.buttons{
    display: flex;
    justify-content: space-between;
}

.task{
    width: 100%;
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: var(--primary-contrast);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.taskTitle{
    color: var(--secondary);
}
.button{
    margin-left: 0.5rem;

}