.bar {
    margin: 5px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--primary-contrast);
    color: var(--secondary);
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .topLevel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    position: relative;
  }
  
  .title{
    margin-left: 20px;
  }
  
  .submitButton{
    margin-right: 20px;
  }

  
  .toggle-menu {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-top: 10px;
  }
  
  
  .date, .description, .earningPoints {
    margin: 5px 0;
    margin-left: 20px;
    text-align: left;
    width: 50%;
  }
  .earningPoints{
    padding-bottom: 10px;
  }
  

  